$bg: #111;
$blue: #536FCE;
$red: #D54D50;

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

body {
	background: $bg;
	color: #eee;
	font-family: Segoe UI, sans-serif;
}

code {
	font-weight: 700;
	font-size: 1rem;
	&[number] {
		color: #f99157;
	}
	&[string] {
		color: #99c794;
	}
}

.flex {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	&.padding > *{
		padding: 20px 30px;
	}
	> * {
		overflow: auto;
		position: relative;
	}
}

.full-height { height: 100% }
.full-width { width: 100% }
.half-width { width: 50% }
.half-height { height: 50% }

#editor {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#memory {
	counter-reset: memory-index;
	margin-top: 20px;
	font-size: 0;
	> code {
		display: inline-block;
		margin: 2px;
		padding: 5px 10px;
		width: 50px;
		text-align: center;
		background: $bg;
		border: 1px solid lighten($bg, 20%);
		counter-increment: memory-index;
		position: relative;
		font-size: 0.9rem;
		&::before {
			content: counter(memory-index);
			background: $bg;
			border: 1px solid lighten($bg, 20%);
			border-bottom: none;
			position: absolute;
			top: -15px;
			left: -1px;
			padding: 2px 5px;
			font-family: monospace;
			font-size: 9px;
			color: #fff;

			opacity: 0;
			transform: translateY(5px);
			transition: transform 250ms ease, opacity 250ms ease;
		}
		&:hover::before {
			transition: transform 250ms ease, opacity 100ms ease;
			transform: none;
			opacity: 1;
		}
	}
}

#success {
	background: $blue;
	padding: 10px 15px;
	margin-bottom: 10px;

	transition: all 250ms ease;
	box-shadow: inset 0 0 0 2px rgba(0,0,0,0.2);
	&::before {
		content: "Ok.";
	}
	&.overflow {
		&::before {
			content: "Buffer overflow.";
		}
		background: #000;
		box-shadow: inset 0 0 0 2px rgba(255,0,0,0.5);
	}
	&.terminated {
		&::before {
			content: "Forcibly terminated - program not responding.";
		}
		background: $red;
	}
}

#trace {
	list-style: none;
	padding: 0;
	li {
		display: inline-block;
		margin: 2px;
		background: #222;
		box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1);
		padding: 5px 10px;
		font-size: 0.8em;
		code {
			font-size: 2rem;
		}
		&.loop {
			background: desaturate(darken($blue, 20%), 20%);
		}
	}
}

#controls {
	position: absolute;
	bottom: 0;
	right: 0;
	box-shadow: 0 0 0 2px $blue;
}

h1 {
	text-transform: uppercase;
	margin: 0;
	font-weight: 300;
	font-size: 2em;
}

input, textarea, button {
	background: lighten($bg, 10%);
	border: none;
	padding: 10px;
	font-size: 1.5em;
	color: #eee;
}

button {
	padding: 10px 15px;
	cursor: pointer;
}